/* Typography */

@font-face {
  font-family: 'Inclusive Sans';
  src: url('assets/fonts/InclusiveSans-Regular.woff2') format('woff2'),
    url('assets/fonts/InclusiveSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inclusive Sans';
  src: url('assets/fonts/InclusiveSans-Bold.woff2') format('woff2'),
    url('assets/fonts/InclusiveSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Young Serif';
  src: url('assets/fonts/YoungSerif-Regular.woff2') format('woff2'),
    url('assets/fonts/YoungSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Project */

body {
  font-family: Inclusive Sans, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: Young Serif, 'Times New Roman', Times, serif;
}

@media screen and (width >= 40em) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width >= 70em) {
  body {
    display: flex;
    justify-content: center;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    max-width: 80em;
  }
}
