/*
  Mobile
*/

main h2 {
  margin-bottom: 20px;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
}

.card {
  box-shadow: 5px 5px 10px var(--gray-400);
  will-change: transform;
  transition: transform 450ms;
}

.card:hover {
  transition: transform 150ms;
  transform: translateY(-10px);
}

.card a {
  color: var(--gray-900);
  text-decoration: none;
}

.card .image {
  display: flex;
  justify-content: center;
  background: var(--gray-500);
}

.card .text {
  padding: 20px;
}

.card .text-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/*
  Tablet
*/

@media screen and (width >= 40em) {
  main h2 {
    margin-left: 40px;
    margin-bottom: 40px;
    text-align: left;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 40px;
    padding-right: 40px;
  }
}

/*
  Desktop
*/

@media screen and (width >= 70em) {
  main h2 {
    margin-left: 80px;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 80px;
    padding-right: 80px;
  }
}
