/*
  Mobile 
*/

footer {
  background: var(--gray-200);
}

footer .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px 80px;
}

footer h2 {
  text-align: center;
}

footer address {
  font-style: normal;
}

footer .address-row {
  display: flex;
  gap: 5px;
}

footer .address-row.end {
  align-items: end;
}

/*
  Tablet
*/

@media screen and (width >= 40em) {
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;
    padding: 40px 40px 80px;
  }

  footer .text {
    padding: 0;
  }

  footer h2 {
    text-align: left;
  }
}

/*
  Desktop
*/

@media screen and (width >= 70em) {
  footer {
    grid-template-columns: 1fr 2fr;
    gap: 80px;
    padding: 80px;
  }

  footer .image {
    height: 500px;
    overflow: hidden;
  }
}
