/*
  Mobile
*/

header {
  margin-bottom: 80px;
}

header .image {
  position: relative;
  padding: 20px 40px;
  overflow: hidden;
}

header .image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gray-500);
  box-shadow: 5px 5px 10px var(--gray-400);
  transform: scale(2) translate(-25%, -60%) rotate(65deg);
}

header .hero-image {
  position: relative;
  box-shadow: 5px 5px 10px var(--gray-400);
}

header h1 {
  position: absolute;
  left: 40px;
  right: 40px;
  bottom: 20px;
  padding: 5px 10px;
  background: var(--white-opacity-50);
}

header .text {
  padding: 20px;
}

header h2 {
  text-align: center;
  margin-bottom: 20px;
}

header p {
  margin-bottom: 20px;
}

header .icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

header .icon {
  width: 30px;
  height: 30px;
}

/*
  Tablet
*/

@media screen and (width >= 40em) {
  header {
    position: relative;
    overflow: hidden;
  }

  header::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gray-500);
    box-shadow: 5px 5px 10px var(--gray-400);
    transform: scale(2) translateY(-45%) rotate(-15deg);
  }

  header .image {
    position: static;
    float: left;
    width: 50%;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  header .image::before {
    width: 0;
    height: 0;
  }

  header h1 {
    left: unset;
    bottom: unset;
    top: 60px;
    right: 40px;
    width: 50%;
    text-align: center;
    background: var(--white);
    box-shadow: 5px 5px 10px var(--gray-400);
  }

  header .text {
    margin-left: 80px;
    margin-right: 80px;
    padding: 190px 0 20px;
  }

  header .text-inner {
    padding: 20px;
    background: var(--white);
    box-shadow: 5px 5px 10px var(--gray-400);
  }

  header .icons {
    justify-content: end;
  }
}

/*
  Desktop
*/

@media screen and (width >= 70em) {
  header {
    display: flex;
    padding: 40px 80px;
  }

  header .image {
    flex: 1;
    position: relative;
    width: unset;
    padding: unset;
    box-shadow: 5px 5px 10px var(--gray-400);
  }

  header h1 {
    top: unset;
    right: unset;
    bottom: 0;
    width: 100%;
    text-align: left;
    background: var(--white-opacity-50);
  }

  header .text {
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: unset;
    padding-bottom: unset;
    margin-left: unset;
    margin-right: unset;
  }

  header h2 {
    text-align: left;
  }
}
